.Brand-image {
  width: 60%;
  margin: 0 auto 40px;
  height: 150px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.Brand-title {
  text-indent: -9999px;
}