---
layout: default
title: Design is Dead Technics
description: We live in a new digital universe where you need to think and move fast.
header:
classes: wrapper transparent text-light not-sticky
---
<!--Wrapper Start-->
<div class="cp-wrapper" id="home" name="home">
  <!-- Header Start -->
  <header class="cp-header" id="cp_header-v1">
    <div id="cp-slide-menu" class="cp_side-navigation">
      <ul class="navbar-nav">
        <li id="close"><a href="#"><i class="fa fa-close"></i></a></li>
        <li><a href="#home">Home</a></li>
        <li><a href="#over-ons">Over ons</a></li>
        <li><a href="#merken">Merken</a></li>
        <li><a href="#diensten">Diensten</a></li>
        <li><a href="#fietsen">Fietsen in de kijker</a></li>
        <li><a href="#togo-jungle-challenge">Togo Jungle Challenge</a></li>
      </ul>
    </div>
    <!-- Navigation Row Start -->
    <div class="cp-navigation-row">
      <div class="container">
        <div class="cp-sidemenu-btn">
          <div id="push" class="cp-sidemenu"><a href="#"><i class="fa fa-align-justify"></i></a></div>
        </div>
        <div class="cp-nav-holder">
          <strong class="cp-sm-logo">
            <svg class="Header-logo">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-logo"></use>
            </svg>
          </strong>
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                  class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                  class="icon-bar"></span></button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#over-ons">Over ons</a></li>
                <li><a href="#merken">Merken</a></li>
                <li><a href="#diensten">Diensten</a></li>
                <li><a href="#fietsen">Fietsen in de kijker</a></li>
                <li><a href="#nieuws">Nieuws</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </div><!--Navigation Row End-->

    <!-- Logo Row Start -->
    <div class="cp-logo-row">
      <div class="container">
        <a href="index.html" class="Logo Logo--light">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-logo"></use>
          </svg>
        </a>
        <h2 class="Subtitle">Gespecialiseerd in koersfietsen, MTB, crossfietsen, gravelracers</h2>
      </div>
    </div><!-- Logo Row End -->

    <!--Search Bar Holder Start-->
    <div class="overlay overlay-contentscale">
      <button type="button" class="overlay-close">Close</button>
      <!--Search Bar Inner Start-->
      <div class="cp-search-inner">
        <form method="get">
          <input type="text" placeholder="Enter your search" required>
          <button class="submit"><i class="fa fa-search"></i></button>
        </form>
      </div><!--Search Bar Inner End-->
    </div>
    <!--Search Bar Holder End-->

  </header>
  <!-- Header End -->

  <!-- Banner Slider Start -->
  <div class="cp-banner">

    <!--Video Banner Start-->
    <div class="cp_video-banner">
      <video id="cp_video-banner" poster="images/banner/banner-video-img.jpg">
        <source src="/video/Bicycle-race1.mp4" type="video/mp4">
        <source src="/video/Bicycle-race.webm" type="video/webm">
        <source src="/video/Bicycle-race1.ogv" type="video/ogv">
      </video>
    </div><!--Video Banner End-->

    <!--Banner Bottom Text Start-->
    <div class="cp-banner-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-sm-12">
            <div class="cp-banner-info text-right">
              <strong>Phone</strong>
              <span>(0003) 6378 - 600 240 49152</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-sm-12">
            <div class="cp-banner-info right">
              <strong>Opening Hours</strong>
              <span>Mon - Fri : 08:00 - 17:00 / Sunday : 9:00 - 16:00</span>
            </div>
          </div>
        </div>

      </div>
    </div><!--Banner Bottom Text End-->
    <span class="cp-arrow-btn"></span>

  </div>
  <!-- Banner Slider End -->

  <!-- Main Content Start -->
  <div class="cp-main-content">

    <!--About Section Start-->
    <section id="over-ons" class="cp-about-section pd-tb100">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!--About Text Start-->
            <div class="cp-about-text">
              <div class="cp-heading-style1_v1">
                <span class="small">.01</span>
                <h2>{{ site.name }}</h2>
              </div>
              <p class="first"><span>Gespecialiseerd</span> in koersfietsen, MTB, crossfietsen, gravelracers</p>
              <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero.
                Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Aenean arcu tortor, suscipit vitae,
                hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum dolor sit amet justo et sit
                amet justo consectetuer adipiscing elit.</p>
              <div class="cp-bottom">
                <a href="mailto:{{ site.email }}" class="cp-btn-style1">Contact</a>
                <strong class="cp-signature">Johnny</strong>
              </div>
            </div><!--About Text End-->
          </div>
          <div class="col-md-6">
            <div class="cp-abuout-thumb">
              <img src="images/about-img1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section><!--About Section End-->

    <!-- ONZE MERKEN -->
    <section id="merken" name="merken" class="cp-event-section pd-tb100">
      <div class="container">
        <div class="cp-heading-style1_v1">
          <span class="small">.03</span>
          <h2><span>Onze </span>merken</h2>
        </div>
        <div class="row">
          {% for brand in site.brands %}
          <div class="col-md-4 col-sm-12">
            <div class="Brand">
              <div class="Brand-image" style="background-image: url({{ brand.img }})">
                <h3 class="Brand-title">{{ brand.name }}</h3>
              </div>
              <div class="cp-text">
                {{ brand.description }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- DIENSTEN -->
    <!--
    <section class="cp-services-section cp-services-section_h">
      <div class="cp-services-thumb">
        <img src="images/service-thumb1.jpg" alt="">
      </div>

      <div class="cp-services-inner">
        <div class="cp-heading-style1_v2">
          <span class="small">.02</span>
          <h2><span>Onze</span> diensten</h2>
        </div>
        <ul class="cp-services-listed row">
          <li class="col-md-6 col-sm-6">
            <div class="cp-services-item">
              <span class="icon-cyclist icomoon"> </span>
              <h3>Wear & Care Plan</h3>
              <p>Etiam dictum. Nunc enim. S massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero.</p>
              <a href="#" class="readmore">Read More</a>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="cp-services-item">
              <span class="icon-discount-badge icomoon"> </span>
              <h3>Service & Repair</h3>
              <p>Etiam dictum. Nunc enim. S massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero.</p>
              <a href="#" class="readmore">Read More</a>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="cp-services-item">
              <span class="icon-shopping-trolley-full icomoon"> </span>
              <h3>Duurzame herstelling</h3>
              <p>Etiam dictum. Nunc enim. S massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero.</p>
              <a href="#" class="readmore">Read More</a>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="cp-services-item">
              <span class="icon-native-america-mountains icomoon"> </span>
              <h3>Mountain Bike Leadership</h3>
              <p>Etiam dictum. Nunc enim. S massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero.</p>
              <a href="#" class="readmore">Read More</a>
            </div>
          </li>
        </ul>
      </div>

    </section>
    -->
    <!--Services Section End-->

    <!-- DIENSTEN 2 -->
    <section id="diensten" name="diensten" class="cp-testimonial-section pd-tb100">
      <div class="container">
        <div class="cp-heading-style1_v1">
          <span class="small">.04</span>
          <h2><span>Onze </span>diensten</h2>
        </div>

        <!--Testimonial Inner Start-->
        <div class="cp-testimonial-inner">
          <p>Onderhoud en verkoop van koersfietsen, mountainbikes, crossfietsen en gravelracers. Ecologisch, herstellingen op een duurzame manier, geen wegwerp politiek</p>
          <strong class="cp-signature">Johnny</strong>
          <span>Executive Memeber of club</span>
        </div><!--Testimonial Inner End-->

      </div>
    </section><!--Testimonial Section End-->

    <!-- FIETSEN IN DE KIJKER -->
    <section id="fietsen" name="fietsen" class="cp-product-section pd-tb100">
      <div class="container">
        <div class="cp-heading-style1_v1">
          <span class="small">.05</span>
          <h2><span>Fietsen</span> in de kijker</h2>
        </div>
        <div class="cp-tabs-holder">
          <!-- Nav tabs Start -->
          <ul class="nav nav-tabs" role="tablist">
            <li><a href="#tab-race" aria-controls="tab-race" role="tab" data-toggle="tab" class="js-clickOnLoad">Race</a></li>
            <li><a href="#tab-mtb" aria-controls="tab-mtb" role="tab" data-toggle="tab">MTB</a></li>
            <li><a href="#tab-cross" aria-controls="tab-cross" role="tab" data-toggle="tab">Cross/Gravel</a></li>
          </ul>  <!-- Nav tabs End -->

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab-race">
              <div class="row">
                {% assign raceBikes = site.bikes | where: "category", "race" %}
                {% for bike in raceBikes %}
                {% include bike.html %}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="tab-mtb">
              <div class="row">
                {% assign mtbBikes = site.bikes | where: "category", "mtb" %}
                {% for bike in mtbBikes %}
                {% include bike.html %}
                {% endfor %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="tab-cross">
              <div class="row">
                {% assign crossBikes = site.bikes | where: "category", "cross" %}
                {% for bike in crossBikes %}
                {% include bike.html %}
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!--Product Section End-->

    <!--Blog Section Start-->
    <section id="nieuws" name="nieuws" class="cp-blog-section pd-tb100">
      <div class="container">
        <div class="cp-heading-style1_v1">
          <span class="small">.07</span>
          <h2><span>Our </span>Blog</h2>
        </div>
        <div class="owl-carousel pretty-gallery" id="cp-blog-slider">

          {% for post in site.posts limit:3 %}
            <div class="item">
              <!--Blog Item Start-->
              <div class="cp-blog-item">
                <figure class="cp-thumb">
                  <div class="Post-image" style="background-image: url({{ post.img }});"></div>
                  <figcaption class="cp-caption">
                    <span>{{ post.category }}</span>
                    <a href="{{ post.img }}" class="zoomIn" data-rel="prettyPhoto"><i
                        class="fa fa-search-plus"></i></a>
                  </figcaption>
                </figure>
                <div class="cp-text">
                  <ul class="cp-meta-list">
                    <li>{{ post.date | date: "%B %d, %Y" }}</li>
                  </ul>
                  <h3>{{ post.title }}</h3>
                  <div class="Post-content">
                    {{ post.content }}
                  </div>
                </div>
              </div><!--Blog Item End-->
            </div>
          {% endfor %}
        </div>
      </div>
    </section><!--Blog Section End-->

  </div>
  <!-- Main Content End -->

  <!--Footer Content Start-->
  <footer class="cp-footer">

    <!--Instagram Section Start-->
    <section class="cp-instagram-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-sm-2">
            <div class="cp-instagram-text">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <div class="cp-bottom">
                <span>images from</span>
                <h3>Gallery</h3>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-sm-10">
            <ul class="cp-instagram-listed">
              <li>
                <figure class="cp-thumb">
                  <a href="#"><img src="images/flickr-img1.jpg" alt=""></a>
                </figure>
              </li>
              <li>
                <figure class="cp-thumb">
                  <a href="#"><img src="images/flickr-img2.jpg" alt=""></a>
                </figure>
              </li>
              <li>
                <figure class="cp-thumb">
                  <a href="#"><img src="images/flickr-img3.jpg" alt=""></a>
                </figure>
              </li>
              <li>
                <figure class="cp-thumb">
                  <a href="#"><img src="images/flickr-img4.jpg" alt=""></a>
                </figure>
              </li>
              <li>
                <figure class="cp-thumb">
                  <a href="#"><img src="images/flickr-img5.jpg" alt=""></a>
                </figure>
              </li>
              <li>
                <figure class="cp-thumb">
                  <a href="#"><img src="images/flickr-img6.jpg" alt=""></a>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section> <!--Instagram Section End-->

    <!--Footer Copyright Row Start-->
    <div class="cp-copyright-row">
      <div class="container">
        <p>Copyright © {{ 'now' | date: "%Y" }} {{ site.name }}. All rights reserved. </p>
      </div>
    </div><!--CopyRight Row End-->

  </footer><!--Footer Content End-->

</div><!--Wrapper End-->
